# Ignorar carpetas de compilación y temporales de Visual Studio
Debug/
Release/
x64/
Win32/
.vs/
Proyecto Final Computacion Grafica/Debug
Proyecto Final Computacion Grafica/images
Proyecto Final Computacion Grafica/Realese
Proyecto Final Computacion Grafica/x64/Debug
# Ignorar archivos temporales
*.log
*.ilk
*.pdb
*.tlog
*.Build.CppClean.log
*.user
*.exp